<app-navbar></app-navbar>
<app-back-button></app-back-button>

<div style="margin-top: 48px; margin-bottom: 89px; margin-left:auto; margin-right:auto; width:90%"> 
  <br>
<h1>Jesteś zalogowany jako użytkownik: </h1>
<div *ngIf="credentials == ''" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<p *ngIf="credentials != ''">{{ credentials }}</p>
<h1>Twój e-mail: </h1>
<div *ngIf="email == ''" class="spinner-border" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<p *ngIf="email != ''">{{ email }}</p>

<div class="d-flex justify-content-center align-items-center">
  <div class="col-sm-12 col-md-6" style="margin-top: 48px; margin-bottom: 89px">
    <button type="button" class="btn btn-outline-danger btn-lg position-absolute start-50 translate-middle" (click)="logoutAlert()">Logout</button>
  </div>

  <div id="credits" >
    <ul class="list-group list-group-horizontal position-absolute top-50 start-50 translate-middle">
      <li class="list-group-item">Karol Bułdak</li>
      <li class="list-group-item">Dominik Furman</li>
      <li class="list-group-item">Szymon Fit</li>
    </ul>
  </div>
  </div>
  </div>