// @import "~bootstrap-icons/font/bootstrap-icons.css";

.login-page {
    padding-top: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
}



.additional-info {
    margin-top: 10px;
}

a  {
    cursor: pointer;
}