<app-back-button></app-back-button>
<app-navbar></app-navbar>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
  crossorigin=""/>
  
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
  crossorigin=""></script>

<div style="margin-top: 48px; margin-bottom: 88px; margin-left:auto; margin-right:auto; width:90%">
  <br>
    <h1>Kina wspierające rozwój naszej aplikacji: </h1>
    <div class="map-container">
        <div id="map"></div>
    </div>
    <br>
    <p>Mapa wyświetla lokalizację kin wspierających oraz lokalizację użytkownika aplikacji. Kliknij na pinezkę kina by przenieść się na jego strone i zarezerwować seans. </p>
</div>
